:root {
    --color1: #45434f;
    --color2: #3a4742;
    --color3: #312f38;
    --color4: #D01D1D;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
div.menu {
    width: 90%;
    height: 10vh;
    background-color: white;
    border-radius: 10px;
    margin-left: 60px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    position: fixed;
}
.menu span {
    width: 6px;height: 6px;border-radius: 3px;
    background-color: #312f38;
}
div.nav {
    height: 10vh;
    font-size: 3.5vh;
    line-height: 10vh;
    width: 70vw;
    margin-left: 49vw;
}
div.nav a{
    text-decoration: none;
    color: var(--color3);
    font-weight: bold;
}
div.nav a:hover{
    color: var(--color4);
}
img {
    width: 10vh;
    height: 10vh;
    background-color: white;
    display: inline-block;
}
div.slidethree {
    padding-top: 25vh;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 7vh;
}
.slidethree div {
    background-color: var(--color1);
    height: 10vh;
    display: flex;
    flex-direction: row;
    line-height: 10vh;
}
.slideone div p{
    font-size: 25px;
}
div.slideone {
    width: 100vw;
    padding: 25vh 10vh 0 10vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 7vh;
}
.slidetwo {

    width: 100vw;
    padding:25vh 10vh 0 10vh;
    height: 100vh;
}
.slidetwo .left {
    width: 60%;
    display: block;
    height: inherit;
}
.slidetwo img {
    width: 30%;
    height: 80%;
    margin-right: 100px;
}
.slidefour {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    padding-top: 20vh;
}
.slidefour > h1{
    width: 50vw;
    font-size: 8vh;
    margin: 0 auto;
    text-align: center;
}
.slidefour .bottom {
    height: 50vh;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
}
.slidefour .bottom > div{
    width: 22vw;
    height: inherit;
    border-radius: 30px;
    background-color: #45434f;
    display: flex;
    justify-content: center;
    align-items: center;
}
